@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

$softCyan: hsl(174, 77%, 80%);
$strongCyan: hsl(174, 86%, 45%);
$grayishRed: hsl(14, 92%, 95%);
$lightRed: hsl(15, 100%, 70%);
$paleBlue: hsl(226, 100%, 87%);
$white: hsl(0, 0%, 100%);
$veryPaleBlue: hsl(230, 100%, 99%);
$lightGrayishBlue1: hsl(224, 65%, 95%);
$lightGrayishBlue2: hsl(223, 50%, 87%);
$grayishBlue: hsl(225, 20%, 60%);
$darkDesaturatedBlue: hsl(227, 35%, 25%);

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

body {
    background-color: $veryPaleBlue;
    background-image: url("../images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-position: 0 -100px;
    background-size: 100vw 80%;
    background-attachment: fixed;
    font-family: "Manrope", sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    

    header {
        background-image: url("../images/pattern-circles.svg");
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding: 30px;
        h1 {
            font-size: 30px;
            font-weight: 800;
            color: $darkDesaturatedBlue;
            padding: 30px;
        }
        h2 {
            font-size: 15px;
            font-weight: 600;
            color: $grayishBlue;
        }
    }

    section {
        background-color: $white;
        border-radius: 5px;
        box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        width: 480px;
        margin-bottom: 20px;

        div {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px;
            h1 {
                color: $grayishBlue;
                font-weight: 600;
                font-size: 0.8em;
                text-transform: uppercase;
                margin-right: auto;
            }
            h2 {
                font-size: 30px;
                font-weight: 800;
                color: $darkDesaturatedBlue;
            }
            h3 {
                color: $grayishBlue;
                font-weight: 600;
                font-size: 0.8em;
            }
        }
        .size {
            input {
                width: 100%;
                color: $lightGrayishBlue1;
                position: relative;
                display: block;
                // -moz-appearance: none;
                // -webkit-appearance: none;
                // -o-appearance: none;
                border: 0;
                height: 54px;
                text-align: center;

                color: rgba(57, 65, 73, 1);
                font-size: 18px;
                border-radius: 24px;
            }
        }

        #slide {
            appearance: none;
            height: 10px;
            border-radius: 5px;
            background: $lightGrayishBlue1;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $softCyan), color-stop(100%, $softCyan));
            background-size: 50% 100%;
            background-repeat: no-repeat;
            outline: none;
        }

        #slide::-webkit-slider-thumb {
            appearance: none;
            width: 35px;
            height: 35px;
            border: 0;
            border-radius: 20px;
            background: $strongCyan url("../images/icon-slider.svg") 50% 50%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        #slide::-moz-range-thumb {
            width: 35px;
            height: 35px;
            border: 0;
            border-radius: 20px;
            background: $strongCyan url("../images/icon-slider.svg") 50% 50%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .selectBilling {
            justify-content: flex-end;

            & > * {
                margin: 0 15px;
            }
            label {
                margin: 0 10px;
            }
        }

        span {
            color: $grayishBlue;
            font-weight: 600;
            font-size: 0.6em;
        }
        #discount1 {
            color: $lightRed;
            background-color: $grayishRed;
            font-size: 0.6em;
            padding: 0.3em 1em;
            border-radius: 1em;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $lightGrayishBlue1;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
        input:checked + .slider {
            background-color: $strongCyan;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px $strongCyan;
        }
        .slider.round {
            border-radius: 20px;
        }

        input:checked + .slider:before {
            transform: translateX(20px);
        }

        .slider.round:before {
            border-radius: 50%;
        }

        ul {
            color: $grayishBlue;
            font-size: 0.8em;
            list-style-image: url("../images/icon-check.svg");
            list-style-position: inside;
            margin-right: auto;
            li {
                padding: 0.5em;
            }
        }

        button {
            background-color: $darkDesaturatedBlue;
            border: none;
            border-radius: 25px;
            color: $lightGrayishBlue1;
            height: 3em;
            width: 120px;
            font-size: 0.7em;
            cursor: pointer;
        }
        & div:last-child {
            border-top: 1px solid $veryPaleBlue;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-size: auto;
    }
}
@media screen and (max-width: 520px) {
    
    
    
    body section {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    body section {
        width: 85%;
        padding: 15px;
    }
}